<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Mi CV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card class="center-card">

    <div class="img-container">
      <img
        src="../../../assets/yo.jpeg"
        class="cv-img"
      />
    </div>

    <ion-card-header>
      <ion-card-title>
        Nayely del Rocio Ayol Guanoluisa
      </ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">

      <ion-chip color="primary">
        <ion-label>
          Disponible
        </ion-label>
      </ion-chip>

      <p>
        Estudiante de Desarrollo de Software.
      </p>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header class="titulo">
      <ion-card-title>
        Educación
      </ion-card-title>
    </ion-card-header>

    <ion-list>

      <ion-item>

        <ion-thumbnail slot="start">
          <img src="../../../assets/logo.png">
        </ion-thumbnail>

        <ion-label>
          <h2>Escuela Politécnica Nacional</h2>
          <p>Tecnología en Desarrollo de Software</p>
        </ion-label>

      </ion-item>

      <ion-item>

        <ion-thumbnail slot="start">
          <img src="../../../assets/poli.png">
        </ion-thumbnail>

        <ion-label>
          <h2>Unidad Educativa Policía Nacional</h2>
          <p>Bachiller en Ciencias</p>
        </ion-label>

      </ion-item>

    </ion-list>

  </ion-card>

  <ion-card>

    <ion-card-header class="titulo">
      <ion-card-title>
        Habilidades Blandas
      </ion-card-title>
    </ion-card-header>

    <ion-list>

      <ion-item>
        <ion-label>Comunicación</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Trabajo en equipo</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Adaptabilidad</ion-label>
      </ion-item>

      <ion-item>
        <ion-label>Pensamiento crítico</ion-label>
      </ion-item>

    </ion-list>

  </ion-card>

  <ion-card>

    <ion-card-header class="titulo">
      <ion-card-title>
        Habilidades Técnicas
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <div class="chips-container">

        <ion-chip color="success">
          <ion-label>HTML</ion-label>
        </ion-chip>

        <ion-chip color="dark">
          <ion-label>CSS</ion-label>
        </ion-chip>

        <ion-chip color="warning">
          <ion-label>JavaScript</ion-label>
        </ion-chip>

        <ion-chip color="secondary">
          <ion-label>Angular</ion-label>
        </ion-chip>

        <ion-chip color="tertiary">
          <ion-label>Ionic</ion-label>
        </ion-chip>

        <ion-chip color="primary">
          <ion-label>Java</ion-label>
        </ion-chip>

      </div>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header class="titulo">
      <ion-card-title>
        Base de Datos
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-segment value="intermedio">

        <ion-segment-button value="basico">
          <ion-label>Básico</ion-label>
        </ion-segment-button>

        <ion-segment-button value="intermedio">
          <ion-label>Intermedio</ion-label>
        </ion-segment-button>

        <ion-segment-button value="avanzado">
          <ion-label>Avanzado</ion-label>
        </ion-segment-button>

      </ion-segment>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header class="titulo">
      <ion-card-title>
        Inglés
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-range value="50"></ion-range>

    </ion-card-content>

  </ion-card>

  <ion-accordion-group>

    <ion-accordion value="exp">

      <ion-item slot="header">
        <ion-label>
          Experiencia
        </ion-label>
      </ion-item>

      <div slot="content" class="ion-padding">
        • Proyectos con Ionic y Angular
      </div>

      <div slot="content" class="ion-padding">
        • Manejo de calidad de Software
      </div>

      <div slot="content" class="ion-padding">
        • Desarrollo web con HTML, CSS y JavaScript
      </div>

    </ion-accordion>

  </ion-accordion-group>

  <ion-card>

    <ion-card-header class="titulo">
      <ion-card-title>
        Objetivos Profesionales
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <p>
        Desarrollarme como programador full stack,
        trabajando en proyectos innovadores.
      </p>

      <ion-list>

        <ion-item>
          <ion-label>Terminar carrera</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Trabajar en seguridad digital</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aprender frameworks modernos</ion-label>
        </ion-item>

      </ion-list>

      <ion-item>

        <ion-label>
          Progreso
        </ion-label>

        <ion-progress-bar value="0.6"></ion-progress-bar>

      </ion-item>

    </ion-card-content>

  </ion-card>

  <ion-card>

    <ion-card-header class="titulo">
      <ion-card-title>
        Contacto
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <ion-list>

        <ion-item>

          <ion-avatar slot="start">
            <img src="../../../../assets/w.jpg">
          </ion-avatar>

          <ion-label>
            WhatsApp
          </ion-label>

          <ion-note slot="end">
            +593 959 872 730
          </ion-note>

        </ion-item>

        <ion-item>

          <ion-avatar slot="start">
            <img src="../../../../assets/e.png">
          </ion-avatar>

          <ion-label>
            Email
          </ion-label>

          <ion-note slot="end">
            nayelyayol9@gmail.com
          </ion-note>

        </ion-item>

        <ion-item>

          <ion-avatar slot="start">
            <img src="../../../../assets/l.png">
          </ion-avatar>

          <ion-label>
            Ubicación
          </ion-label>

          <ion-note slot="end">
            Quito
          </ion-note>

        </ion-item>

      </ion-list>

    </ion-card-content>

  </ion-card>

  <ion-fab slot="fixed" vertical="bottom" horizontal="start">
    <ion-fab-button id="fabBtn">
      <ion-icon name="chevron-forward-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-popover trigger="fabBtn" triggerAction="click" side="end" alignment="center" cssClass="mi-popover">
    <ng-template>
      <ion-content class="ion-padding">
        Estudiante de Tecnología Superior en Desarrollo de Software
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>